html {
    background-color: white;

}
 
.container {

    max-width: 800px;
    margin: auto;
}

header, footer {

    background-color:white;
}

nav ul p1 {

    display: inline-block;
    width: 50%;
    text-align: left;
}


nav ul p2 {

    display: inline-block;
    width: 50%;
    text-align: left;   
}


nav ul li {

    display: inline-block;
    text-align: right;

}

.logo {

    width: 100;
    min-height: 500;
    display: flex;
    justify-content: left;
    align-items: center;
}

.hero {

    width: 100;
    min-height: 500;
    display: flex;
    justify-content: left;
    align-items: center;  
}

h1 {
    font-family: sans-serif;
    color: black;
    font-size: 30px;
    text-align: right;

}

h2 {

    font-family: sans-serif;
    color: black;
    font-size: 24px;
    text-align: right;
}

h3 {

    font-family: sans-serif;
    color: black;
    font-size: 20px;
    text-align: right;
}